<html>
<head>
    <title>DSV / SHOW  -  </title>
    <link rel="stylesheet" href="/css/showProcesso.css">
</head>
<body>
    <div class="container">
        <div class="row col-12">
            <% if(processo.servico){ %>
                <div class="card col-md-6 col-11 mx-auto my-4" id="card">
                    <% if(processo.servico.imagem){ %>
                        <img class="card-img-top" src="/img/services/<%=processo.servico.imagem%>" alt="<%=processo.servico.name %>">

                    <% } else{ %>
                        <img class="card-img-top" src="/img/Slid/image_downloader_1661001390616.jpg" alt="Turismo">
                    <% } %>

                    <div class="card-body">
                      <div class="card-header">
                        <h3 class="card-title"> <%=processo.servico.name %> </h3>
                        <p class="card-subtitle text-muted">Preço: <%=processo.servico.preco%></p>
                      </div>

                      <br>

                      <div class="card-header header-client">
                        <h5>
                          <span id="nameVal"><%=processo.client.name %></span> 
                          <span id="apelidoVal"><%=processo.client.apelido %></span> 
                        </h5>
                        <p class="card-subtitle text-muted">
                          Telefone: <span id="telefoneVal"><%=processo.client.telefone%></span>
                        </p>
                      </div>

                      <br>

                      <p class="campo">nº de passaporte: <br class="d-md-none"> <span class="valor" id="passaportVal"><%=processo.client.passaport %></span></p>
                      <p class="campo">validade do passaporte: <br class="d-md-none"> <span class="valor" id="passaportDataVal"><%=processo.client.passaportDate %></span></p>
                      <p class="campo">data de nascimento: <br class="d-md-none"> <span class="valor" id="nascimentoVal"><%=processo.client.nascimento %></span></p>
                      <p class="campo">nº de bilhete de identidade: <br class="d-md-none"> <span class="valor" id="biVal"><%=processo.client.bi %></span></p>

                      <p class="campo">
                        estado:
                        <span class="valor" id="estadoVal">
                          <% if(processo.estado){ %>
                            Concluido
                          <% }else{ %>
                            Activo
                          <% } %>
                        </span>
                      </p>

                      <% if(processo.servico.microServicos){ %>
                        <form action="/processo/edit/<%=processo.id %>" method="post" id="form-edit">
                      <% } else{ %>
                        <form action="/processo/sub/edit/<%=processo.id %>" method="post" id="form-edit">
                      <% } %>
                        <div class="form-group opsao namePreco">
                            <label for="estado"> Estado: </label>
                            <select name="estado" id="estado" class="form-control">
                                <option value="Concluido"> Concluido </option>
                                <option value="Activo"> Activo </option>
                            </select>
                            <span class="obrigatorio">*</span>
                        </div>
                        
                        <div class="form-group">
                          <label for="name">Nome:</label>
                          <input type="text" name="name" id="name" placeholder="nome proprio" class="form-control"><span class="obrigatorio">*</span>
                        </div>
                        
                        <div class="form-group">
                          <label for="apelido">Apelido:</label>
                          <input type="text" name="apelido" id="apelido" placeholder="Apelido" class="form-control"> <span class="obrigatorio">*</span>
                        </div>

                        <label for="name"> Contacto:</label>

                        <div class="form-group">
                          <input type="text" name="telefone" id="telefone" placeholder="telefone: +244 999 999 999" class="form-control"><span class="obrigatorio">*</span>
                        </div>

                        <div class="form-group">
                          <label for="bi">Nº BI:</label>
                          <input type="text" name="bi" id="bi" class="form-control" placeholder="Nº de Identificação"> <span class="obrigatorio">*</span>
                        </div>

                        <div class="form-group">
                          <label for="passaport">Nº Passaport:</label>
                          <input type="text" name="passaport" id="passaport" class="form-control" placeholder="Nº Passaporte"> <span class="obrigatorio">*</span>
                        </div>

                        <div class="form-group">
                          <label for="nascimento">Data de Nascimento:</label>
                          <input type="date" name="nascimento" id="nascimento" class="form-control"><span class="obrigatorio">*</span>
                        </div>

                        <div class="form-group">
                          <label for="passaportDate">Expiração do Passaport</label>
                          <input type="date" name="passaportDate" id="passaportDate" class="form-control"><span class="obrigatorio">*</span>
                        </div>

                        <a onclick="cancelar()" class="btn btn-danger">Cancelar</a>
                        <input type="submit" value="Salvar" class="col-12 my-4 btn btn-primary">
                      </form>

                      <div class="card-actions">
                        <a onclick="editar()" class="btnControl btn btn-primary">Editar</a>
                        
                        <!-- Button trigger modal -->
                        <a class="btnControl btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmacao">Eliminar</a>
                      </div>

                    </div>

                    <div class="card-footer" id="footer-card">
                      <p class="text-muted">para mais informações conatcte: +244 949 143 902 | <br class="d-md-none">
                        <span class="text-success">Whatsapp: +244 952 494 542</span>
                      </p>
                    </div>
              </div>
              <% } %>
        </div>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="confirmacao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmacaoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmacaoLabel">Certaza?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Tem certeza que dezeja Eliminar este serviço?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Não</button>

              <% if(processo.servico.microServicos){ %>
                <a href="/processo/delete/<%=processo.id %>" class="btn btn-primary">Sim</a>
              <% } else{ %>
                <a href="/processo/sub/delete/<%=processo.id %>" class="btn btn-primary">Sim</a>
              <% } %>
                
            </div>
          </div>
        </div>
      </div>
      
      <script>
      
      const name = $('#nameVal').text()
      const apelido = $('#apelidoVal').text()
      const passaport = $('#passaportVal').text()
      const bi = $('#biVal').text()
      const telefone = $('#telefoneVal').text()
      const passaportData = $('#passaportDataVal').text()
      const nascimento = $('#nascimentoVal').text()
      const estado = $('#estadoVal').text()


      function editar() {

        $('#name').val(name)
        $('#apelido').val(apelido)
        $('#nascimento').val(nascimento)
        $('#passaport').val(passaport)
        $('#passaportDate').val(passaportData)
        $('#bi').val(bi)
        $('#telefone').val(telefone)
        
        $('#form-edit').css({
          display: 'block',
        })

        $('.btnControl').css({
          display: 'none',

        })
        
        $('.campo').css({
          display: 'none',

        })

        $('.header-client').css({
          display: 'none',
        })

      }

      function cancelar(){
        $('#form-edit').css({
          display: 'none',
        })

        $('.btnControl').css({
          display: 'inline-block',

        })
        
        $('.campo').css({
          display: 'block',

        })

        $('.header-client').css({
          display: 'block',
        })
      }
    </script>
</body>
</html>
