<head>
  <title>Página de Serviços</title>

  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <h3 id="ofertaH3" class="m-4">Processos Disponíveis</h3>
  <h5 id="ofertaH5" class="m-4">Consultória para pedido de Visto nas seguintes categórias:</h5>

  <div class="row col-11" id="servicos">
    <% servicos.forEach(servico => { %>
    <div class="card" style="width: 33rem; margin: 15px;">
      
      <% if(servico.imagem){ %>
        <img class="card-img-top img-fluid" src="/img/services/<%=servico.imagem%>" alt="<%=servico.name %>">
      <% } else{ %>    
        <img class="card-img-top" src="/img/Slid/image_downloader_1661001390616.jpg" alt="Turismo">
      <% } %>
       
      <div class="card-body">
        <h5 class="card-title"> <%=servico.name %> </h5>
        <p class="text-muted"> (Paises: Portugal, França, Espanhã, EUA & Brazil) </p>
        
        <div class="card-text">
          <p>
          Acompanhamos o teu processo desde o Agendamento até a resposta do Consulado.
          </p>

          <p> Uma boa organização do processo, não garante o visto mas, te coloca um passo afrente! </p>

          <strong class="showServico">Cuidamos de:</strong>
          <p class="text-muted">
            <%const microServicos = servico.microServicos.toString() %>

            <%=microServicos %>
          </p>
          <strong class="showServico">Requisitos:</strong>
          <p class="text-muted">
            <%const requisitos = servico.requisitos.toString() %>

            <%=requisitos %>
          </p>
          <p> Ajude-nos a te ajudar. clica em <span class="text-success">ver mais</span> </p>
        </div>

        <div class="card-actions">
            <a href="./service/<%=servico.id%>" class="btn btn-primary">Ver Mais</a>
        </div>
      </div>
        
      <div class="card-footer">
        <p>Estada inferior a 90 dias</p>
      </div>
    </div>
    <% }) %>

  </div>

</body>